Host abc
    user xyz
    hostname 0.0.0.0

Host *
    # Use a ControlMaster to speed up subsequent connections
    ControlPath ~/.ssh/controlmasters/%C
    ControlMaster auto

    # Enables running local commands with <Enter>~C!
    PermitLocalCommand yes
    EnableEscapeCommandline yes
