Host abc
    user xyz
    hostname 0.0.0.0

Host *
    # Use a ControlMaster to speed up subsequent connections
    ControlPath ~/.ssh/controlmasters/%C
    ControlMaster auto
    ControlPersist 10m

Host *-tmux
    RequestTTY yes
    RemoteCommand sh -l -c "tmux ls &> /dev/null && tmux attach || tmux new"
