[submodule "submodules/core/tmux"]
	path = tmux/src
	url = https://github.com/tmux/tmux.git
[submodule "submodules/core/zsh"]
	path = zsh/src
	url = https://github.com/zsh-users/zsh.git
[submodule "submodules/core/nvim"]
	path = nvim/src
	url = https://github.com/neovim/neovim.git
[submodule "submodules/core/git"]
	path = git/src
	url = https://github.com/git/git.git
[submodule "nvim/dotfiles/.config%2Fnvim/pack/plugins/opt/vim-commentary"]
	path = nvim/dotfiles-submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "nvim/dotfiles/.config%2Fnvim/pack/plugins/opt/vim-surround"]
	path = nvim/dotfiles-submodules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/dotfiles/.config%2Fnvim/pack/plugins/opt/fzf-lua"]
	path = nvim/dotfiles-submodules/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "nvim/dotfiles/.config%2Fnvim/pack/plugins/opt/nvim-lspconfig"]
	path = nvim/dotfiles-submodules/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/dotfiles/.config%2Fnvim/pack/plugins/opt/nvim-cmp"]
	path = nvim/dotfiles-submodules/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "nvim/dotfiles/.config%2Fnvim/pack/plugins/opt/vim-gitgutter"]
	path = nvim/dotfiles-submodules/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "nvim/dotfiles/.config%2Fnvim/pack/plugins/opt/cmp-nvim-lsp"]
	path = nvim/dotfiles-submodules/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "fzf/src"]
	path = fzf/src
	url = https://github.com/junegunn/fzf.git
[submodule "nvim/dotfiles-submodules/copilot.vim"]
	path = nvim/dotfiles-submodules/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "nvim/dotfiles-submodules/nvim-treesitter"]
	path = nvim/dotfiles-submodules/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/parsers/tree-sitter-python"]
	path = nvim/parsers/python
	url = https://github.com/tree-sitter/tree-sitter-python.git
