Host abc
    user xyz
    hostname 0.0.0.0

    # Attach to tmux server if running, or start a new one with login environment
    RemoteCommand sh -l -c "tmux ls &> /dev/null && tmux attach || tmux new"
    RequestTTY yes

